{
  "extends": ["stylelint-config-airbnb"],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "scss/selector-no-redundant-nesting-selector": true,
    "max-nesting-depth": [
      4,
      {
        "ignoreAtRules": [
          "media",
          "supports",
          "include",
          "each"
        ]
      }
    ]
  }
}
