$alizarin: #D9312F;
$burnt_aienna: #F0524C;

$bondi_blue: #008CBF;
$summer_sky: #1DABDE;

$yellow-sea: #F3AA24;
$sunglow: #FFC840;

$pearl_lusta: #F5F1E5;
$ci_ivory_h: #FFFAF0;

$orange_red: #FF4700;
$harley_davidson_orange: #D5270E;
$fire_brick: #AE2024;
$fuchsia: #D344B8;
$jazzberry_jam: #A50A88;

$dark_purple: #821773;

$very_light_grey: #CCC;
$nobel: #999;
$dim_gray: #666;

$westar: #d2cdc0;
$narvik: #ebe7db;
$nero: #282626;
$charcoal: #4a4a4a;
$medium-blue: #008CC0;
$olive: #76A800;

$white: #fff;
$transparent: transparent;

$black: #000;
$black_h: #3c3c3c;

$literacy: #f76321;
$lightest-literacy: #f06c00;

$alert_success: #8BA43C;
$alert_error: $alizarin;