@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon/icomoon.eot?46m9iz");
  src: url("../../fonts/icomoon/icomoon.eot?46m9iz#iefix") format("embedded-opentype"),
    url("../../fonts/icomoon/icomoon.ttf?46m9iz") format("truetype"),
    url("../../fonts/icomoon/icomoon.woff?46m9iz") format("woff"),
    url("../../fonts/icomoon/icomoon.svg?46m9iz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}